//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 24 18:10:14 2024
//! **************************************************************************

SCHEMATIC START;
COMP "btn_speed_down" LOCATE = SITE "K17" LEVEL 1;
COMP "HS" LOCATE = SITE "F15" LEVEL 1;
COMP "RGB<0>" LOCATE = SITE "H14" LEVEL 1;
COMP "RGB<1>" LOCATE = SITE "H15" LEVEL 1;
COMP "RGB<2>" LOCATE = SITE "G15" LEVEL 1;
COMP "RAB<0>" LOCATE = SITE "G18" LEVEL 1;
COMP "RAB<1>" LOCATE = SITE "K18" LEVEL 1;
COMP "btn_speed_up" LOCATE = SITE "H13" LEVEL 1;
COMP "VS" LOCATE = SITE "F14" LEVEL 1;
COMP "CLK" LOCATE = SITE "C9" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

